/* Nav styles */

.nav {
    width: 100%;
    background: $nav-gradient-primary;
    background: -webkit-linear-gradient(to right, $nav-gradient-primary, $nav-gradient-secondary, $nav-gradient-primary);
    background: linear-gradient(to right, $nav-gradient-primary, $nav-gradient-secondary, $nav-gradient-primary);
    position: relative;
    height: 5rem;
      .nav-header {
        display: inline;
          .logo-img {
            width: 10rem;
            display: inline-block;
            padding: 0.625rem;
          }
      }
      .nav-links {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 5rem;
        float: right;
          @media (max-width:47.938rem) {
            display: none;
          }
      }

      .bg-nav {
        background: $nav-gradient-primary;
        background: -webkit-linear-gradient(to right, $nav-gradient-primary, $nav-gradient-secondary, $nav-gradient-primary);
        background: linear-gradient(to right, $nav-gradient-primary, $nav-gradient-secondary, $nav-gradient-primary);
      }
  }