$font-family:"Open Sans", "Roboto";
$primary-text-color-dark: #26253E;
$font-white: #fff;

$base-font: 16;
$base-unit-type: rem;
$base-padding-value: 16;

$primary-body-background-color: #fdfdfd;
$background-color-white: #ffffff;

$nav-gradient-primary:#070000;
$nav-gradient-secondary: #4C0001;

$footer-background-color: #2d3e50;

$spinner-background-color: #e8930b;

$text-color-ash: #7d7d7d;
$text-color-blue: #007bff;










